<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FB</key>
	<string>Partea din față a mașinii este afectată</string>
	<key>FRF</key>
	<string>Aripa dreapta față este afectată</string>
	<key>FRD</key>
	<string>Ușa dreapta față este afectată</string>
	<key>BRD</key>
	<string>Ușa dreapta spate este afectată</string>
	<key>BRF</key>
	<string>Aripa dreapta spate este afectată</string>
	<key>BB</key>
	<string>Partea din spate a mașinii este afectată</string>
	<key>FLD</key>
	<string>Ușa stânga față este afectată</string>
	<key>BLD</key>
	<string>Ușa stânga spate este afectată</string>
	<key>BLF</key>
	<string>Aripa stânga spate este afectată</string>
	<key>FLF</key>
	<string>Aripa stânga față este afectată</string>
</dict>
</plist>
